*{
	padding: 0;
	margin: 0;
}
.logo{
	padding-top: 7px;
	padding-left: 50px;
}
.titulo{
	text-align: center;
	color: black;
	font-weight: 300;
	background-color: white;
	opacity: 0.9;
	padding: 50px;
	border-radius: 10px;
}
#btn{
	background-color: ;
}
.section-header{
	font-weight: 300;
	text-align: center;
}
#redes2	 ul li a{
	color: white;
}
#rodape p{
	color: white;
}
#section h2{
	font-weight: 300;
}
#inform{
	height: 1000px;
}
#main h5{
	font-weight: 200;
}
#main{
	margin-top: 50px;
}
#main h4{
	font-weight: 300;
}
#section img{
	margin-top: 50px;
}
section{
	height: 400px;
}
#fotos{
	margin-top: 15px;
}
.navbar-fixed{
	opacity: 0.9;
}
#button{
	z-index: 9999;
	position: fixed;
}
#contato{
	padding-bottom: 15px;
	border-bottom: 1px solid;
}
#redes li{
	width: 32%;
	display: inline-flex;
}
#redes a{
	margin: 0;
}
#redes h5{
	font-weight: 200;
}
#section-gal h4{
	font-weight: 300;
}
#text{
	height: 100px;
}
#topo{
	height: 200px
}
#topo h4{
	padding-top: 50px;
}
#formmain{
	margin-top: 65px;
}
#hobbies p{
	text-align: justify;
}
#titulo{
	font-weight: 300;
}
#projetos a{
	color: #512da8;
}